<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IPayloadService">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IPayloadStartService">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ILaunchVehicleService">
					<security>
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8090/LaunchVehicle" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILaunchVehicleService" contract="ServiceReference2.ILaunchVehicleService" name="NetTcpBinding_ILaunchVehicleService">
				<identity>
					<userPrincipalName value="MEET\meetv" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://localhost:8050/Payload" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPayloadService" contract="ServiceReference1.IPayloadService" name="NetTcpBinding_IPayloadService" />
			<endpoint address="net.tcp://localhost:8050/Payload" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPayloadStartService" contract="ServiceReference1.IPayloadStartService" name="NetTcpBinding_IPayloadStartService" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>