<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IPayloadService">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IPayloadStartService">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8050/Payload" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPayloadService" contract="Payload.IPayloadService" name="NetTcpBinding_IPayloadService" />
   <endpoint address="net.tcp://localhost:8050/Payload" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPayloadStartService" contract="Payload.IPayloadStartService" name="NetTcpBinding_IPayloadStartService" />
  </client>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="LaunchVehicle.LaunchVehicleService">
				<endpoint address="" binding="basicHttpBinding" contract="LaunchVehicle.ILaunchVehicleService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/LaunchVehicle/LaunchVehicle/" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
