<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="NoSecurity">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="mexBehavior" name="Payload.PayloadService">
				<endpoint address="Payload" binding="netTcpBinding" bindingConfiguration="NoSecurity" contract="Payload.IPayloadService" />
				<endpoint address="Payload" binding="netTcpBinding" bindingConfiguration="NoSecurity" contract="Payload.IPayloadStartService" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8050/" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>